{% extends 'voting/base.html' %}

{% block title %}{{ title }}{% endblock %}

{% block content %}
<div class="form-page-container">
    
    <a href="{% url 'index' %}" class="back-link">← Назад на главную</a>

    <div class="form-card-container">
        <h2 class="form-title">{{ title }}</h2>
        
        <form method="post" enctype="multipart/form-data" class="django-styled-form">
            {% csrf_token %}
            
            {# Рендерим дефолтную Django-форму, классы для полей подтянутся из CSS #}
            {{ form.as_p }}
            
            <button type="submit" class="submit-form-btn">{{ btn_text }}</button>
        </form>
    </div>

</div>
{% endblock %}